.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background: #000 url('/src/assets/Desktop-Wallpaper-Spring-Season.jpg') center
    no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
